
<h1>Conway's Game of Life</h1>
<p>O jogo da vida é um autómato celular desenvolvido pelo matemático britânico John Horton Conway em 1970.[1] É o exemplo mais bem conhecido de autômato celular.</p>
<p>O Jogo da Vida tem um número de imagens reconhecidas que emergem de posições iniciais particulares. Antes da publicação, muitas imagens interessantes já haviam sido descobertas, incluindo o sempre envolvente R-pentomino (mais conhecido como "F-pentomino" fora do jogo), o auto propulsionado "glider", e várias "guns" (armas) que geravam um fluxo sem fim de novas imagens, todas aumentando o interesse no jogo. Sua popularidade foi ajudada pelo fato de ele ter vindo justo no momento em que uma nova geração de minicomputadores de baixo custo estavam sendo disponibilizados no mercado, significando que o jogo poderia ser rodado por horas nessa máquinas que não eram utilizadas de noite. Isto escondeu a popularidade posterior dos fractais gerados por computador. Para muitos aficcionados, Life era simplesmente um desafio de programação, um método divertido de gastar os ciclos da CPU. Para alguns, no entanto, Life tinha conotações mais filosóficas. Ele desenvolveu um culto através da década de 1970 e no meio da década de 1980; os desenvolvimentos atuais foram tão longe a ponto de criar emulações teóricas de sistemas de computadores com as regras de um tabuleiro de Life.</p>

<%= content_tag(:div, nil, data: {
    controller: "life",
}) do %>
  <%= content_tag(:canvas, nil, data: {
        life_target: "canvas"
    }) %>
  <br />
  <%= button_tag "Start", data: { action: "click->life#start" }, id: "start_button" %>
  <%= button_tag "Clear", data: { action: "click->life#clear" } %>
  <%= button_tag "Random", data: { action: "click->life#random" } %>
  <%= select_tag "structure_type", options_for_select([
      "Cell", 
      "Glider", 
      "GliderGun", 
      "Ship", 
      "Spaceship",
      "Pulsar",
      "rPentomino",
      "Replicator" 
    ]), data: { action: "change->life#setPlacementType" } %>
<% end %>
